// Here you can add other styles
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

:root {
    --color-primary: #194177 !important;
    --color-primary-hover: #15345e;
    --color-secondary: rgb(126, 20, 20) !important;
    --font-color: #fff;
}

.NavHeader-title {
    font-size: 20px;
    color: white;
    text-align: center;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.bg-secondary {
    background-color: var(--color-secondary) !important;

}


.btn-primary {
    background-color: var(--color-primary) !important;
    border: #15345e;
}

.btn-link {
    color: var(--color-primary) !important;
}


.nav-link {
    color: var(--font-color) !important;
}

.nav-link.active {
    background: #15345e !important;
}

.nav-link:hover {
    background-color: #15345e !important;
}

.nav-title {
    color: white !important;
}

.nav-icon {
    color: white !important;
}


.homeheader {
    color: black;
    display: flex;
    width: 100%;
}
.navlink-home{
    color: black !important;
}
.navlink-home:hover{
    color: white !important;
}

.dbheader {
    background-color: var(--color-primary);
}

.bg-image {
    background-image: url('/src/assets/images/Fondo.jpg') !important; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
}
.bg-register{
    background-image: url('/src/assets/images/Fondo2.jpg') !important;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
}